.filters {
  background-color: #ffffff;
  height: 70px;
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
}

.filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  float: right;
  margin: 1% 30px;
}

.filters button:hover {
  opacity: 90%;
}

.locations {
  display: inline-block;
  height: 100%;
  width: 25%;
  border-right: 1px solid #dddddd;
}
.amenities {
  display: inline-block;
  height: 100%;
  width: 25%;
}

.filters h3 {
  font-weight: 600;
  padding-left: 10%;
  margin-bottom: 0;

}
.filters h4 {
  font-weight: 400;
  font-size: 14px;
  padding-left: 10%;
  padding-bottom: 10%;
  margin-top: 0;

}
