.filters {
  background-color: #ffffff;
  height: 70px;
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  display: inline-block;
}

.filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  float: right;
  margin: 1% 30px;
}

.filters button:hover {
  opacity: 90%;
}

.filters .locations,
.filters .amenities {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 25%;
}

.filters ul {
  list-style: none;
}

.locations {
  border-right: 1px solid #dddddd;
}
.filters h3 {
  font-weight: 600;
  padding-left: 10%;
  margin-bottom: 0;
}
.filters h4 {
  font-weight: 400;
  font-size: 14px;
  padding-left: 10%;
  padding-bottom: 10%;
  margin-top: 0;
}

.filters .locations:hover,
.filters .amenities:hover {
  background-color: #fafafa;
}

.filters .popover {
  background-color: #fafafa;
  width: 100%;
  position: absolute;
  border: #dddddd 1px solid;
  border-radius: 4px;
  display: none;
}

.filters .locations:hover .popover,
.filters .amenities:hover .popover {
  display: block;
}
